<!Doctype html>
<html lang="en">
<head>
    <title>House Data</title>
</head>
<body>
<div style="width: 100%"><canvas id="particulateChart"></canvas></div>

<script>
    const items = JSON.parse('<%- items %>');
    const autoReload = 'true' === '<%= autoReload %>';

    if (autoReload) {
        setTimeout(function(){
            window.location.reload();
        }, 60000);
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.js"></script>
<script type="module" src="index.js"></script>
</body>
</html>
